*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header{
    height: 80px;
    width: 1500px;
    background-color: red;
}
header nav{
    height: 100%;
    width: 1300px;

    align-items: center;

}
#mainbox{
color: white;
display:flex ;
justify-content: space-between;
align-items: center;
}
#mainbox #box{
    display: flex;
}